---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: ingress-nginx
spec:
  interval: 5m
  url: https://kubernetes.github.io/ingress-nginx
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmChart
metadata:
  name: ingress-nginx
spec:
  interval: 5m0s
  chart: ingress-nginx
  reconcileStrategy: ChartVersion
  sourceRef:
    kind: HelmRepository
    name: ingress-nginx
  version: '4.13.1'
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
spec:
  interval: 1h
  chartRef:
    kind: HelmChart
    name: ingress-nginx
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controller:
      kind: DaemonSet
      reportNodeInternalIp: true
      hostPort:
        enabled: true
      publishService:
        enabled: false
