---
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: webhook-token
spec:
  itemPath: "vaults/fmycvdzmeyvbndk7s7pjyrebtq/items/2d3dy2spv6bgywkddxqmkc7cha"
---
apiVersion: notification.toolkit.fluxcd.io/v1
kind: Receiver
metadata:
  name: generic-receiver
spec:
  type: generic
  secretRef:
    name: webhook-token
  resources:
    - apiVersion: source.toolkit.fluxcd.io/v1
      kind: GitRepository
      name: flux-system
      namespace: flux-system
---
apiVersion: v1
kind: Service
metadata:
  name: nimbus-flux-webhook
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http-webhook
  selector:
    app: notification-controller
  type: LoadBalancer
  loadBalancerClass: io.cilium/l2-announcer
