---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: tailscale
spec:
  interval: 5m
  url: https://pkgs.tailscale.com/helmcharts
---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmChart
metadata:
  name: tailscale-operator
spec:
  interval: 5m0s
  chart: metallb
  reconcileStrategy: ChartVersion
  sourceRef:
    kind: HelmRepository
    name: tailscale
  version: '1.86.5'
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tailscale-operator
spec:
  interval: 1h
  chartRef:
    kind: HelmChart
    name: tailscale-operator
  install:
    retries:
      remediation: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      
