---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/clustersecretstore_v1.json
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: onepassword
spec:
  provider:
    onepasswordSDK:
      vault: fmycvdzmeyvbndk7s7pjyrebtq
      auth:
        serviceAccountSecretRef:
          name: onepassword-connect-token-keenland
          namespace: external-secrets
          key: token
